h1 {
    color: blue;
    font-size: 50px;
}
h2 {
    font-size: 36;
    color: green;
    background-color: lightgray;
    text-align: center;
    
}
.titulo {
    color: red;
    font-weight: bold;
    font-size: 40px ;
    text-decoration: underline;
}

#titulo_adios {
    font-size: 60px;
    color: orange;
    text-align: center;
    font-style:italic;
}